@charset "UTF-8";

body{
      background-color: blanchedalmond;
  font-family: 'Noto Sans JP', sans-serif;
}

header{
  margin:0;
  padding:0;
background-color: forestgreen;
}
page{
  float: left;
  width: 100px;
}
